[Unit]
Description=Reverse proxy for handling HTTP(s)
After=basic.target default-network.service
Requires=default-network.service

[Container]
Image=docker.io/caddy:2.9.0-alpine
Volume=%h/web/caddy-data:/data:Z
Volume=%h/web/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=%h/web/slh/www:/app/slh:ro,z
Volume=%h/web/riscv:/app/riscv:ro,Z
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Network=default.network

[Install]
WantedBy=default.target
