[Unit]
Description=Syncthing
After=basic.target network.target

[Container]
Image=docker.io/syncthing/syncthing:2.0.13
Volume=/mnt/data/syncthing:/var/syncthing:Z
PublishPort=22000:22000
PublishPort=22000:22000/udp
PublishPort=127.0.0.1:8384:8384
PodmanArgs= --hostname the-dark-portal
Environment=PUID=0 PGID=0

[Install]
WantedBy=default.target
