[Unit]
Description=budai.cz web
After=basic.target default-network.service
Requires=default-network.service

[Container]
Image=registry.gitlab.com/ondrejbudai/budai.cz:b20b4f7cab28675536ae465da3a4904220850f03
Network=default.network

[Install]
WantedBy=default.target
